<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <!-- <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>

      <td>
        <select [(ngModel)]="user.role" (change)="updateRole(user)">
          <option value="USER">USER</option>
          <option value="HOST">HOST</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </td>

      <td>{{ user.active ? 'Active' : 'Disabled' }}</td>

      <td>
        <button class="danger" (click)="delete(user.id)">Delete</button>
      </td>
    </tr> -->
  </tbody>
</table>
