<header class="border-b sticky top-0 z-50 shadow-sm">
  <nav class="max-w-[1760px] mx-auto px-10 py-5 flex justify-between items-center">
    <a routerLink="/" class="text-dark-gray text-sm font-medium px-4 py-2 rounded-full hover:bg-gray-50 transition">
      <div class="flex items-center gap-2 text-2xl font-bold text-primary">
        <img src="Logo_0.png" alt="" class="w-16 h-16">
        BestBNB
      </div>
    </a>
   <app-search-bar></app-search-bar>
    <!-- <a routerLink="/messages" class="text-dark-gray text-sm font-medium px-4 py-2 rounded-full hover:bg-gray-50 transition">
      💬 Messages
    </a> -->
    <div class="flex items-center gap-5">
      <a
        (click)="openCreateListing()"
        class="hidden lg:block cursor-pointer text-dark-gray text-sm font-medium px-3 py-2 rounded-full hover:bg-gray-50 transition">
        Devenez hôte
      </a>

      <app-create-listing-modal
        *ngIf="showCreateListing"
        (close)="showCreateListing = false">
      </app-create-listing-modal>
      <app-menu-navbar></app-menu-navbar>
    </div>
  </nav>
</header>
