<header class="bg-white border-b border-border-color sticky top-0 z-50 shadow-sm">
  <nav class="max-w-[1760px] mx-auto px-10 py-5 flex justify-between items-center">
    <div class="flex items-center gap-2 text-2xl font-bold text-primary">
      <img src="Logo.png" alt="" class="w-16 h-16">
      BestBNB
    </div>
   <app-search-bar></app-search-bar>
    <div class="flex items-center gap-5">
      <a href="#" class="hidden lg:block text-dark-gray text-sm font-medium px-3 py-2 rounded-full hover:bg-gray-50 transition">Devenez hôte</a>
      <app-menu-navbar></app-menu-navbar>
    </div>
  </nav>
</header>
