<h1>Listings</h1>

<!-- <button (click)="openCreate()">+ Add Listing</button> -->

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>City</th>
      <th>Price</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <!-- <tr *ngFor="let listing of listings">
      <td>{{ listing.title }}</td>
      <td>{{ listing.city }}</td>
      <td>{{ listing.pricePerNight }} €</td>
      <td>{{ listing.active ? 'Yes' : 'No' }}</td>
      <td>
        <button (click)="edit(listing)">Edit</button>
        <button class="danger" (click)="delete(listing.id)">Delete</button>
      </td>
    </tr> -->
  </tbody>
</table>
