table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

button {
    margin-right: 5px;
}

.danger {
    background: #dc2626;
    color: white;
}