<h1 class="text-2xl font-bold mb-6">Listings</h1>

<button class="btn btn-primary w-auto md:w-1/5 bg-blue-600 text-white py-2 rounded-lg font-semibold
                    hover:bg-blue-700 transition disabled:opacity-50" (click)="openCreate()">+ Add Listing</button>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>City</th>
      <th>Address</th>
      <th>Postal</th>
      <th>Price</th>
      <th>HostNames</th>
      <th>Size</th>
      <th>Location Tag</th>
      <th>Equipment Tag</th>
      <th>Last update</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    @for (listing of listingAnnoucement; track $index) {
      <tr>
        <td>{{ listing.title }}</td>
        <td>{{ listing.description }}</td>
        <td>{{ listing.city }}, {{ listing.country }}</td>
        <td>{{ listing.address }}</td>
        <td>{{ listing.postalCode }}</td>
        <td>{{ listing.pricePerNight }} €</td>
        <td>{{ listing.hostnames }}</td>
        <td>{{ listing.surface }} m²</td>
        <td>{{ listing.locationT }}</td>
        <td>{{ listing.equipmentT }}</td>
        <td>{{ listing.updatedAt }}</td>
        <td>
          <!-- <button (click)="edit(listing)">Edit</button>
          <button class="danger" (click)="delete(listing.id)">Delete</button> -->
          <button>Edit</button>
          <button class="danger">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (editPopup()) {
  <app-listing-dialog (close)="closeCreate()"></app-listing-dialog>
}